# Project : Productivity Prediction of Garment Employees_

### Importing all Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Loading the data

In [2]:
Data = pd.read_csv("D:\IIT-BHU - Mtech\Semester 1\Prod. & Operation analysis\Assignement\Mini Project\garments_worker_productivity.csv")
Data.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,01-01-2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,01-01-2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,01-01-2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,01-01-2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,01-01-2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [3]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

In [4]:
Data.shape

(1197, 15)

In [5]:
Data.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

## Data Wrangling / EDA
Data Cleaning / Feature engineering : Drop Values, Fill Values, Replace Values

In [6]:
Data['date'] = pd.to_datetime(Data['date'])     #changing date column type to datetime64
Data['date'].dtype

dtype('<M8[ns]')

In [7]:
Data['month_name'] = Data['date'].dt.month_name() #create month name

In [8]:
Data['day'].value_counts()

Wednesday    208
Sunday       203
Tuesday      201
Thursday     199
Monday       199
Saturday     187
Name: day, dtype: int64

In [9]:
Data['department'].unique()

array(['sweing', 'finishing ', 'finishing'], dtype=object)

In [10]:
Data.loc[:,'department'] = Data.loc[:,'department'].str.strip()       # removing error in 'finishing' 
Data['department']=Data['department'].replace(['sweing'],['sewing'])  # fixing the error in the name

In [11]:
Data['department'].unique()

array(['sewing', 'finishing'], dtype=object)

In [12]:
Data.isnull().sum()

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
month_name                 0
dtype: int64

In [13]:
mean=Data['wip'].mean()                            ## Replacing missing null value in wip using mean method
Data['wip'].fillna(mean,inplace=True)

In [14]:
Data.isnull().sum()

date                     0
quarter                  0
department               0
day                      0
team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
month_name               0
dtype: int64

In [15]:
Data.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,month_name
0,2015-01-01,Quarter1,sewing,Thursday,8,0.80,26.16,1108.000000,7080,98,0.0,0,0,59.0,0.940725,January
1,2015-01-01,Quarter1,finishing,Thursday,1,0.75,3.94,1190.465991,960,0,0.0,0,0,8.0,0.886500,January
2,2015-01-01,Quarter1,sewing,Thursday,11,0.80,11.41,968.000000,3660,50,0.0,0,0,30.5,0.800570,January
3,2015-01-01,Quarter1,sewing,Thursday,12,0.80,11.41,968.000000,3660,50,0.0,0,0,30.5,0.800570,January
4,2015-01-01,Quarter1,sewing,Thursday,6,0.80,25.90,1170.000000,1920,50,0.0,0,0,56.0,0.800382,January

# Visualization for Productivity of garment workers

## Import Plotly library

In [16]:
import plotly
import plotly_express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.io as pio

from plotly.subplots import make_subplots
from plotly.offline import plot, iplot,init_notebook_mode

In [ ]:
Data.hist(bins=25, figsize=(20,10))  #using hist() method we can get histograms of all numerical data in the dataset.
                                     #Helps in quick understanding of the distribution of certain numerical variables within it

array([[<AxesSubplot:title={'center':'date'}>,
        <AxesSubplot:title={'center':'team'}>,
        <AxesSubplot:title={'center':'targeted_productivity'}>],
       [<AxesSubplot:title={'center':'smv'}>,
        <AxesSubplot:title={'center':'wip'}>,
        <AxesSubplot:title={'center':'over_time'}>],
       [<AxesSubplot:title={'center':'incentive'}>,
        <AxesSubplot:title={'center':'idle_time'}>,
        <AxesSubplot:title={'center':'idle_men'}>],
       [<AxesSubplot:title={'center':'no_of_style_change'}>,
        <AxesSubplot:title={'center':'no_of_workers'}>,
        <AxesSubplot:title={'center':'actual_productivity'}>]],
      dtype=object)

In [ ]:
plt.figure(figsize = (25,10))
ax=sns.lineplot(y='targeted_productivity',x='date' ,data =Data, label='Target Production')
ax=sns.lineplot(y= 'actual_productivity',x='date',data=Data, label='Actual Production')
ax.set(ylabel = 'Productivity')
plt.title(label='Graph 1 : Productivity vs Date graph',fontsize=30,color='Green')
plt.show()

In [ ]:
sns.barplot(y='actual_productivity',x = Data.department,data=Data)
plt.title(label='Graph 2 : Actual Productivity vs department',fontsize=15,color='Green')

In [ ]:
Data['day'].unique()

#### There is no data for friday, it suggest that there is holiday on "Friday"

In [ ]:
Data['day'].value_counts().plot(kind='barh')            #horizontal barplot
plt.title("Graph 3 : Total working days", fontsize=20, color= 'blue')
plt.xlabel('Frequency')
plt.show()

In [ ]:
daydata = Data[['day', 'actual_productivity']].groupby('day').mean()
daydata = daydata.sort_values('actual_productivity', ascending=False).reset_index()
fig = px.bar(daydata, x='day', y='actual_productivity',
             hover_data=['day', 'actual_productivity'], color='actual_productivity',
             labels={'actual_productivity':'Productivity'}, height=500)
fig.update_layout(title='Graph 4 :Productivity vs weekday', title_x=0.5,title_font_color="purple",title_font_size=30)
fig.show()

Above graph suggest that;
Saturday is the most productive weekday with an average of 0.75, it maybe because Friday is holiday which makes sense, 
as generally after a break our productivity increases

In [ ]:
fig = make_subplots(rows=1, cols=2)
y1=Data['no_of_workers']
y2=Data['incentive']
x=Data['month_name']

fig.add_trace(go.Bar( x=x,y=y1), row=1, col=1)
fig.add_trace(go.Bar(x=x, y=y2), row=1, col=2)

fig.update_layout(title='Graph 5 :Plots of number of workers and incentive paid in each month', title_x=0.5,
                  title_font_size=20, font_color='red')

fig.show()

The above graph using plotly library suggest that no of employees/worker worked in march are less but still high incentives was paid, meaning workers are working overtime.

In [ ]:
fig = px.scatter(Data, x='date', y='idle_time',color='team', template='plotly_dark')
fig.update_layout(title='Graph 6 : Idle time spent by Teams vs each Month', title_x=0.5)
fig.show()

##### Above scatter plot Suggest that Team 8 and Team 7 spent most Idle Time.

In [ ]:
fig = px.scatter(Data, y="idle_men", x="date", color="idle_men", facet_col="team", 
                 title="Number of Idle_men in Teams", template="plotly_dark")
fig.update_layout(title='Graph 7 : Count of Idle men in Teams', title_x=0.5)
fig.update_xaxes(showgrid=False)

fig.show()

In [ ]:
teamdf = Data[['team', 'actual_productivity']].groupby('team').mean()
teamdf = teamdf.sort_values('actual_productivity', ascending=False).reset_index()
teamdf
fig = px.bar(teamdf, x="team", y="actual_productivity", color='actual_productivity')
fig.update_layout(title_text='Graph 8 : Productivity by Teams',title_x=0.2,font=dict(
        family="Courier New, monospace",
        size=18,
        color="green"
    ))
fig.show()

Team 1 is the most productive followed by Team 3

In [ ]:
#Number of workers in each Team
fig = px.bar(Data, x="team", y="no_of_workers", barmode="group", color='department'
             )
fig.update_layout(title_text='Graph 9 : Team size',title_x=0.3,font=dict(
        family="Courier New, monospace",
        size=18,
        color="red"
    ))

fig.show()

In [ ]:
##Incentives paid to different teams

idf = Data[['team', 'incentive']].groupby('team').mean().sort_values('incentive',ascending=False).reset_index()
fig = px.bar(idf, x="team", y="incentive", barmode="group"
             )
fig.update_layout(title_text='Graph : 10 Incentive paid to each team',title_x=0.5,font=dict(
        family="Courier New, monospace",
        size=18,
        color="green"
    ))

fig.show()

### Team 9 gets the highest incentive on avg

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(Data.corr(),annot=True)
plt.title(label='Graph 11 : Correlation Graph',fontsize=25,color='violet')

Above Correlation Graph shows that , Their is very High Collinearity i.e 0.91 between no of workers and smv

# Machine Learning Model

In [ ]:
from sklearn.model_selection import train_test_split